# Requires clang-format 14 or newer
BasedOnStyle: LLVM
Standard: c++17

AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignOperands: Align
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 100
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PackConstructorInitializers: NextLine
PointerAlignment: Left
SortIncludes: Never
SpaceAfterCStyleCast: true
# vim: ft=yaml
