compile = ["make"]
run = ["make", "test"]
entrypoint = "test_something.cpp"
language = "c++"
hidden = ["LICENSE", "CMakeLists.txt", "Makefile", ".gitignore", ".clang-format", "compile_commands.json"]

[nix]
channel = "stable-21_11"

[languages]

[languages.cpp]
pattern = "**/*.{cpp,h}"

[languages.cpp.languageServer]
start = "clangd"

[debugger]
support = false